 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
  <header class="container Header">
    <br/>  
    <h1 class="text-center">Lista de  Usuários</h2>
    <br/>
  </header>
<div class="container">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Endereço</th>
      <th scope="col">Cidade</th>
      <th scope="col">Estado</th>
      <th scope="col">Cep</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
    <tbody>
    <% data.forEach(function(details) { %>
        <tr>
          <td><%= details.email %></td>
          <td><%= details.endereco %></td>
          <td><%= details.cidade %></td>
          <td><%= details.estado %></td>
          <td><%= details.cep %></td>
          <td><a href="/edit/<%= details._id %>">Editar</a></td>
          <td><a href="/delete/<%= details._id %>">Deletar</a></td>
        </tr>
        <% }) %>
    </tbody>
  </table>
  <button type="button" onclick="window.location.href = '/'" class="btn btn-dark">Novo</button>
  
</div>
</body>
</html>
